<li class="page-title">
  <h1>
  {% block page_title %}

  {% endblock %}
  <h1>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
<li class="find-btn nav-btn">
  <a class="" href="/find">
    <i class="fa fa-fw fa-search" aria-label="Search for a code"></i>
  </a>
</li>
</ul>
</div>
</div>
</nav>

{% block content %}

{% endblock %}

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</body>
</html>
