<div class='footer-spacer'></div>

<nav class='object-footer footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-4 col-sm-4 col-md-4'>
        <a href='{% url 'object_photos' c.slug %}' class='mode-photo'>
          <p><i class="fa fa-picture-o" aria-hidden="true"></i></p>
          <p>Photos</p>
        </a>
      </div>
      <div class='col-xs-4 col-sm-4 col-md-4'>
        <a href='{% url 'object_list' c.slug %}' class='mode-list'>
          <p><i class="fa fa-list-ul" aria-hidden="true"></i></p>
          <p>List</p>
        </a>
      </div>
      <div class='col-xs-4 col-sm-4 col-md-4'>
        <a href='{% url 'object_cats' c.slug %}' class='mode-cats'>
          <p><i class="fa fa-tags" aria-hidden="true"></i></p>
          <p>Categories</p>
        </a>
      </div>
    </div>
  </div>
</nav>
