{% extends 'masterpages/main_back.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ c.title }}
{% endblock %}

{% block back_link %}
  {% url 'tours' c.slug %}
{% endblock %}

{% block content %}
  <div class='descrip'>
    <p>
      {{tour.body}}
    </p>
  </div>
  <ul class='menu'>
    {% for a in art %}
      <a href="{% url 'object_w_tour' c.slug tour.slug a.slug %}">
        <li>
          <div class='container'>
            <div class='row'>
              <div class='col-xs-2 col-sm-2 position'>
                {{a.tourartwork.position}}
              </div>
              <div class='col-xs-10 col-sm-10'>
                <p class='title'>{{ a.title }}</p>
                <p class='subtitle'>{{ a.subtitle }}</p>
              </div>
            </div>
          </div>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}
