{% extends 'masterpages/main_back.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ c.title }}
{% endblock %}

{% block back_link %}
  {% url 'tours' c.slug %}
{% endblock %}

{% block content %}
  <div class='descrip'>
    <div class='container'>
      <p>
        {{tour.body}}
      </p>
    </div>
  </div>
  <ul class='menu'>
    {% for a in art %}
      <a href="{% url 'object_w_tour' c.slug tour.slug a.artwork.slug %}">
        <li>
          <div class='container'>
            <div class='row'>
              <div class='col-xs-1 col-sm-1 position'>
                {{a.position + 1}}
              </div>
              <div class='col-xs-11 col-sm-11'>
                <p class='title'>{{ a.artwork.title }}</p>
                <p class='subtitle'>
                  {% for p in a.artwork.artist_set.all|dictsort:"last_name" %}
                    {% if forloop.counter > 1 %}
                      ;&nbsp;
                    {% endif %}
                    {{ p.first_name }}&nbsp;{{p.last_name}}
                  {% endfor %}
                </p>
              </div>
            </div>
          </div>
        </li>
      </a>
    {% endfor %}
  </ul>
{% endblock %}
