{% extends 'masterpages/main_back.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ art.title }}
{% endblock %}

{% block back_link %}
  {% url 'collection' c.slug %}/{{back}}
{% endblock %}

{% block content %}
<div class='art-footer footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-xs-4 col-sm-4 col-md-4'>

      </div>
      <div class='col-xs-4 col-sm-4 col-md-4'>
        <p><span class='number'>{{art_info.current}}</span><i> of </i><span class='number'>{{art_info.count}}</span></p>
      </div>
      <div class='col-xs-4 col-sm-4 col-md-4'>

      </div>
    </div>
  </div>
</div>
{% endblock %}
