{% extends 'masterpages/main_back.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ c.title }}
{% endblock %}

{% block back_link %}
  {% url 'collection' c.slug %}
{% endblock %}

{% block content %}
  <div class="container canvas">
    <div class='row'>
      <div class='col-xs-6 col-sm-6 col-md-6'>
        {% for i in media %}
          {% if not forloop.counter|divisibleby:2 %}
            <a href='/test' aria-label='Link to {{i.artwork.title}}'>
              <img src='{{ i.urlMedium }}' alt='{{ i.alt }}'></img>
            </a>
            {% endif %}
        {% endfor %}
      </div>
      <div class='col-xs-6 col-sm-6 col-md-6'>
        {% for i in media %}
          {% if forloop.counter|divisibleby:2 %}
            <a href='/test' aria-label='Link to {{i.artwork.title}}'>
              <img src='{{ i.urlMedium }}' alt='{{ i.alt }}'></img>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% include 'elements/object_mode.html' %}
{% endblock %}
