body
{
background-color: #f8f8f8;
overflow-x:hidden;
}

/* Top nav */
nav.topbar
{
  height: 65px;
  max-height: 65px;

  background-color: #333;
  color:#f8f8f8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;

  margin-bottom:0;
  border: 0;
}

.topbar .container-fluid
{
  padding:0;
}

.navbar-nav
{
  margin: 0 !important;
}

/* Top nav positioning */
.topbar-nav
{
  padding:0;
  width:100vw;
}
.navbar-left
{
  margin-left:5vw !important;
  width:80vw;
}
.nav-btn
{
  width:10vw;
  text-align: center;
}

.page-title
{
  text-align:center;
  width:70vw;
}

.navbar-right
{
  margin-right:5vw !important;
  width:10vw;
}


.topbar i {
  font-size: 1.5em;
  color:#f8f8f8;
  line-height:57px;

}



.navbar-nav>li>a
{
  margin-top: 3.5px;
}


.page-title.home-page
{
  margin-left:10vw;
}

.page-title h1
{
  margin:0;
  width:70vw;
  font-size: 3.75vw;
  line-height:63px;
  max-height: 63px;
  text-overflow: ellipsis;
  overflow:hidden;
  white-space: nowrap;
}
@media (min-width: 768px)
{
  .page-title h1
  {
    font-size: 2em;
  }
}

.page-title img, .page-title .logo
{
  max-width: 70vw;
  max-height:30px;
  margin-top: 17.5px;

}
.nav>li>a
{
  padding:0;
}

/* No collapse o navbars */
.navbar-collapse.collapse {
display: block!important;
}

.container-fluid>.navbar-collapse {
  margin: 0 !important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-right {
float: right!important;
}
.main-content
{
  margin-top:65px;
}

/* Background Image */
.background-holder
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100000;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  overflow: hidden;
}

.background
{
  display:block;
  margin:auto;
  height: auto;
  max-height:100%;
  max-width:500%;
}


/* Main Menu */
.main_menu
{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
}
.main_menu li
{
  opacity: 0.9;
}
.main_menu ul
{
  margin-bottom: 0;
}


/* List menus */

ul.menu
{
  width:100%;
  padding-left: 0px;
}

.menu li {
  list-style-type: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid #333;
  text-align: left;
  font-size: 1.25em;
  line-height: 40px;
  color: #333;
  padding-left: 10px;
}
.menu a:first-of-type li
{
  border-top: 1px solid #333;
}

.menu a
{
    color: #333;
    text-decoration: none;
}

.menu a:hover
{
    color: #333;
}

.menu .title
{
  margin-bottom:5px;
  line-height: 30px;
}

.menu .subtitle
{
  font-size: 0.75em;
  line-height: 20px;
  color: #555;
}

/* List without links */
.list
{
  list-style-type: none;
  background-color: #f8f8f8;
  text-align: left;
  font-size: 1.1em;
  line-height: 30px;
  color: #333;
  padding-left: 10px;
}
.list p
{
  margin-bottom: 0;
}

/** Footer **/
.footer
{
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
  width:100vw;
  background-color: #333;
}
/** Hours & Location **/
.hour-location-holder
{
  padding-top: 10px;
}
.hour-location-holder>div
{
  border-bottom: 1px solid #333;
}

.hour-location-holder>div h2
{
  margin-top:10px;
  padding-left:10px;
  padding-right:10px;
}
.map-container
{
  position: relative;
  height: 0;
  overflow: hidden;
  padding-bottom: 50vh;
  margin-botto:10px;
}

.map-container iframe
{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

/**Collection Page**/
.sponsor
{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.sponsor p
{
  font-size: 1.1em;
  color:#f8f8f8;
}

/** Objects Pages **/
.object-footer
{

  height:50px;
}

.object-footer .active
{
  color:white;
}

.object-footer a
{
  color:#d0d0d0;
  margin-left:10%;
  margin-right:10%;
  display:block;
}
.object-footer a:hover
{
  text-decoration: none;
}
.object-footer a>p
{
  margin-top:3px;
  margin-bottom:0;
  text-align:center;
}
.object-footer .fa
{
  font-size:22px;
}
.object-footer a.active
{
  color:white;
}

.footer-spacer
{
  width:100vw;
  height:50px;
}

/* Canvas */
.canvas
{
  padding-top:10px;
}
.canvas-col
{
  width:40vw;
  margin-right:5vw;
  margin-left:5vw;
  height:100%;
}
.canvas a
{
  display:block;
  max-width: 100%;
}
.canvas a>img
{
  max-width: 100%;
  height:auto;
  margin-bottom:10px;
}


/** Tours **/
.descrip
{
  padding-top:10px;
}
.descrip p
{
  font-size:1em;
}
.position
{
  text-align: center;

}
.position .box
{
  margin-top:12px;
  margin-bottom:12px;

  background-color: #333;
  width: 35px;
  height: 35px;
  text-align: center;
}

.position .box p
{
    color: #f8f8f8;
    margin:0;
    line-height: 35px;
    font-size: 1.25em;
}

/*** Find page ***/
.search-info
{
  text-align: center;
  padding:5px;
}
.search-info p
{
  margin-bottom: 5px;
}
.search-info .message
{
  font-weight: bold;
}
.search-form input
{
    display: block;
    margin-left: auto;
    margin-right:auto;
    margin-bottom: 10px;
}

/*** Object Page ***/
.object-display
{
  width:100vw;
}
.object-photos
{
  background-color: #777;
}

.object-display>div
{
    width:100%;
    border-bottom: 1px solid #333;
}
/** Images **/

.object-photos figure
{
  height: 100%;
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
  padding-bottom: 5px;

  text-align: center;
}
.object-photos figcaption
{
  padding-top:5px;
  color:#f8f8f8;
}
.object-photos .single-image
{
  display: block;
  margin: auto;

  max-height: 45vh;
  max-width: 100%;
  width: auto;
}
.object-photos .carousel .item
{
  padding-top:5px;
  padding-left: 5px;
  padding-right:5px;
}
.object-photos .carousel img
{
  display: block;
  margin: auto;

  height: 50vh;
  width:auto;
  max-height:45vh;
}

.carousel-caption
{

  background: rgba(0,0,0,0.5);
}

.carousel-inner
{
  height:50vh;
}
.carousel-indicators
{
  bottom:0;
  margin-bottom:2px;
}
/** Audio **/
.object-audio figure
{
  padding:5px;
}
.object-audio audio
{
  display:block;
  margin:auto;
}

/** Title **/
.object-title
{
  padding-left:5px;
  padding-right:5px;
}
.object-title h2
{
  margin-top:10px;
}

/** body **/
.object-details
{
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}
.object-details p
{
  margin-bottom: 5px;
}
.object-location
{
  padding-top:5px;
  padding-left:5px;
  padding-right:5px;
}
.object-location p
{
  margin-bottom: 5px;
}



/** Footer **/
.obj-nav-footer
{
  height:50px;
  color: #f8f8f8;
  text-align: center;
}

.obj-nav-footer a
{
  color: #f8f8f8;
  display:block;
}
.obj-nav-footer p
{
  font-size:22px;
  line-height: 50px;
  margin:0;
}
.obj-nav-footer .fa
{
  font-size:22px;
  line-height: 50px;
}
.obj-nav-footer a:hover
{
  text-decoration: none;
}
