body
{


}

/* Top nav */
nav.topbar
{
  height: 65px;
  max-height: 65px;

  background-color: #333;
  color:#f8f8f8;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #777;
}

.topbar .container-fluid
{
  padding:0;
}

.topbar i {
  font-size: 1.5em;
  color:#f8f8f8;
  line-height:48px;

}
.nav-btn
{
  width:10vw;
  text-align: center;
}

.navbar-nav
{
  margin: 0 !important;
}
.navbar-right
{
  margin-right:5vw;
}
.navbar-left
{
  margin-left:5vw;
}
.navbar-nav>li>a
{
  margin-top: 3.5px;
}

.page-title
{
  position: relative;
  text-align:center;
  width:60vw;
}

.page-title h1
{
  margin:0;
  font-size: 3.75vw;
  line-height:63px;
  max-height: 63px;
  text-overflow: ellipsis;
}

.page-title img, .page-title .logo
{
  margin-left:10vw;
  max-width: 60vw;
  max-height:30px;
  margin-top: 17.5px;

}
.nav>li>a
{
  padding:5px;
}

/* No collapse o navbars */
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}

/* Background Image */
.background-holder
{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -100000;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #f8f8f8;
  overflow: hidden;
}

.background
{
  display:block;
  margin:auto;
  height: auto;
  max-height:100%;
  max-width:500%;
}


/* Main Menu */
.main_menu
{
  position: absolute;
  bottom: 0;
  left: 0;
  right:0;
}
.main_menu li
{
  opacity: 0.9;
}
.main_menu ul
{
  margin-bottom: 0;
}


/* List menus */

ul.menu
{
  width:100%;
  padding-left: 0px;
}

.menu li {
  list-style-type: none;
  background-color: #f8f8f8;
  border-bottom: 1px solid #333;
  text-align: left;
  font-size: 1.25em;
  color: #333;
  padding-left: 10px;
}
.menu a:first-of-type li
{
  border-top: 1px solid #333;
}

.menu a
{
    color: #333;
    text-decoration: none;
}

.menu a:hover
{
    color: #333;
}
