/* Top nav */
.topbar i {
  font-size: 2em;
}

/* List menus */

ul.menu
{
  width:100%;
  padding-left: 0px;
}

.menu li {
  list-style-type: none;
  background-color: #F7F7F7;
  border-bottom: 1px solid #919191;
  text-align: left;
  font-size: 2em;
  color: #2B2B2B;
  padding-left: 10px;
}

.menu a
{
    color: #2B2B2B;
}
