{% extends 'masterpages/main_back.html' %}
{% load staticfiles %}

{% block page_title %}
  {{ c.title }}
{% endblock %}

{% block back_link %}
  {% url 'collections_list' %}
{% endblock %}

{% block content %}
<div class="background-holder">
  <img class="background" src="{{ c.bg_ipad_retina }}" alt="Background for {{c.title}}"></img>
</div>
<ul class='menu'>
  <a href="{% url 'object_list' c.slug %}">
    <li>
      Discover the objects
    </li>
  </a>
  <a href="{% url 'tours' c.slug %}">
    <li>
      Explore the tours
    </li>
  </a>
</ul>
{% if c.sponsor and c.sponsor.strip %}
<div class='sponsor footer'>
  <p>{{c.sponsor}}</p>
</div>
{% else %}

{% endif %}
{% endblock %}
