{% extends 'masterpages/main.html' %}
{% load staticfiles %}

{% block page_title %}
  Hours and Location
{% endblock %}

{% block content %}
<div class='hour-location-holder'>
  <div class='museum-location'>
    <h2><i class="fa fa-map-marker" aria-hidden="true"></i> Location</h2>
    <div class='container'>
      <div class='map-container'>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1518.2208831053936!2d-79.95050757476834!3d40.44335835628591!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8834f226ebb42a4d%3A0x9263ede0ad8556a9!2s4400+Forbes+Ave%2C+Pittsburgh%2C+PA+15213!5e0!3m2!1sen!2sus!4v1462905065969" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class='museum-hours'>
    <h2><i class="fa fa-clock-o" aria-hidden="true"></i> Hours</h2>
    <div class='container'>
      <div class='is-open'>
        <p class='{{is_open.class}}'>{{is_open.info}}</p>
      </div>
      <ul class='list'>
        <li class='today'>
            <div class='row'>
              <div class='col-xs-4 col-sm-6 col-md-6'>
                <p class='dow'>Today</p>
              </div>
              <div class='col-xs-8 col-sm-6 col-md-6'>
                  <p class='hours'>
                    {% if today.day_open and today.day_close %}
                      {{ today.day_open|time:"g:iA"|lower }} - {{ today.day_close|time:"g:iA"|lower }}
                    {% else %}
                      Closed
                    {% endif %}
                  </p>
                </div>
              </div>
        </li>
        {% for d in other_days %}
            <li>
              <div class='row'>
                <div class='col-xs-4 col-sm-6 col-md-6'>
                  <p class='dow'>{{ d.dow }}</p>
                </div>
                <div class='col-xs-8 col-sm-6 col-md-6'>
                    <p class='hours'>
                      {% if d.day_open and d.day_close %}
                        {{ d.day_open|time:"g:iA"|lower }} - {{ d.day_close|time:"g:iA"|lower }}
                      {% else %}
                        Closed
                      {% endif %}
                    </p>
                  </div>
                </div>
            </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
