{% extends 'masterpages/main.html' %}
{% load staticfiles %}

{% block page_title %}
  Hours and Location
{% endblock %}

{% block content %}

  <ul class='menu'>
    <li class='today'>
      <p class='dow'>Today</p>
      <p class='hours'>
        {{ today.day_open|time:"g:iA"|lower }} - {{ today.day_close|time:"g:iA"|lower }}
      </p>
    </li>
    {% for d in other_days %}
        <li>
          <p class='dow'>{{ d.dow }}</p>
          <p class='hours'>
            {{ d.day_open|time:"g:iA"|lower }} - {{ d.day_close|time:"g:iA"|lower }}
          </p>
        </li>
    {% endfor %}
  </ul>

{% endblock %}
