{% extends 'masterpages/main.html' %}
{% load staticfiles %}

{% block page_title %}
  Object Code
{% endblock %}

{% block content %}
<div class='container'>
  <div class='search-info'>
    {% if message %}<p class='message'>{{ message }}</p>{% endif %}
    <p class='search'>To access information about a specific object, please enter the object code here:</p>
  </div>
  <form class='search-form' action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    {% with form.code as field %}
      <label for="{{ field.id_for_label }}" class="sr-only">Object Code</label>
      {{ field }}
    {% endwith %}
    <input type="submit" value="Search" />
  </form>
</div>
{% endblock %}
