{% extends 'masterpages/main.html' %}
{% load staticfiles %}

{% block page_title %}
  Object Code
{% endblock %}

{% block content %}
  <p class='search'>To access information about a specific object, please enter the object code here:</p>
  {% if message %}<p class='info'>{{ message }}</p>{% endif %}
  <form action="{% url 'search' %}" method="POST">
    {% csrf_token %}
    {% with form.code as field %}
      <label for="{{ field.id_for_label }}" class="sr-only">Object Code</label>
      {{ field }}
    {% endwith %}
    <input type="submit" value="Search" />
  </form>
{% endblock %}
