{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "elements/head.html" %}

    <!--  App CSS -->
    <link rel="stylesheet" href="{% static "guide/css/main.css" %}">

    <title>
      {% block tab_title %}
      Oakland Guide
      {% endblock %}
    </title>

    {% block head %}

    {% endblock %}

  </head>
  <body>
    <nav class="topbar navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="topbar-nav collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-left">
            <li class="page-title home-page">
                {% block page_title %}

                {% endblock %}
                <h1 class="sr-only">{% block page_title_acc %}{% endblock %}</h1>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li class="find-btn nav-btn">
                <a class="" href="/find" aria-label="Search for a code">
                  <i class="fa fa-fw fa-search" ></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class='main-content'>
        {% block content %}

        {% endblock %}
      </div>

      {% include "elements/scripts.html" %}
  </body>
</html>
